@{
    ViewData["Title"] = "Contact Support";
    @model Support
}

@inject UserManager<IdentityUser> userManager
@using Microsoft.AspNetCore.Identity

<link rel="stylesheet" href="~/css/support.css" asp-append-version="true" />
<div class="container">
    <form asp-action="PostSupport" asp-controller="Support" method="post" class="form" id="support-form">
        <p class="title">Get support </p>
        <p class="message">Fill the form to get support</p>
        <div class="flex">
            
            <label>
            <input name="FirstName" maxlength="25" minlength="2" required placeholder="" type="text" class="input">
            <span>Firstname</span>
        </label>

        <label>
            <input name="LastName" maxlength="25" minlength="3" required placeholder="" type="text" class="input">
            <span>Lastname</span>
        </label>
    </div>
        @if (User.Identity.IsAuthenticated)
        {
            var user = await userManager.GetUserAsync(User);
            <label>
                <input name="Email" maxlength="50" required value="@user.Email" type="email" class="input">
                <span class="valid">Email</span>
            </label>

        }
        else
        {
                    <label>
        <input name="Email" maxlength="50" required placeholder="" type="email" class="input">
        <span>Email</span>
    </label>
        }

        <label>
            <textarea name="ProblemText" maxlength="600" minlength="30" required placeholder="Problem description" type="text" class="input"></textarea>
        </label>

        <button type="submit" class="submit">Submit</button>

</form>
</div>


@if (TempData["Success"] as bool? == true)
{
    <script>
        Swal.fire({
            title: 'Success',
            text: 'You will receive a response within 3 days.',
            icon: 'success',
            showConfirmButton: true,
            confirmButtonText: 'Close',
            allowOutsideClick: false
        });
    </script>
}

@if (TempData["Error"] as bool? == true)
{
    <script>
        Swal.fire({
            title: 'Error',
            text: 'Something went wrong.',
            icon: 'error',
            showConfirmButton: true,
            confirmButtonText: 'Close',
            allowOutsideClick: false
        });
    </script>
}
