@{
    Layout = null;
    ViewBag.Title = "Error";
}
<link rel="stylesheet" href="~/css/NotFound.css" asp-append-version="true" />
<div class="cont">
    <h1>ERROR</h1>
    <h2>Something went wrong</h2>
    <p>You can connect support:</p>
    <a href="/support">click here</a>
</div>