@{
    ViewBag.Title = "404";
}
<div class="container" style="margin-top: 200px; padding-bottom: 200px;">
    <div class="text-center">
        <h1 class="display-1 fw-bold" style="color: #7480be">404</h1>
        <p class="fs-3"> <span class="text-danger fw-bold">Opps!</span> Page not found.</p>
        <p class="lead">
            The page you’re looking for doesn’t exist.
        </p>
        <a href="/" class="btn btn-primary mt-2"><i class="fas fa-home"></i> Go home</a>
    </div>
</div>