@{
    ViewData["Title"] = "Cart";
}
@model CartViewModel

@{
    int count = Model.Carts.Count();
    int avalible = Model.Carts.Where(p => p.ProductVariations.quantity > 0).Count();
}
@if (count > 0)
{
<div class="container mt-4">
    <h1 class="title text-secondary">Your cart:</h1>
    <div class="row justify-content-center">
        @foreach (var product in Model.Carts)
        {
            <div class="col-md-6 mb-3">
                <div class="card" style="position: relative; border-radius: 10px;">
                    <div class="row g-0 d-felx align-items-center">
                        <div class="col-md-4 col-12">
                            <a href="details/@product.ProductId" style="margin-left: 15px;">
                                <img src="data:image/png;base64, @product.Products.ProductImages.FirstOrDefault()?.Data" class="card-img-top" alt="Product Image" style="object-fit: contain; height: 120px; width: 120px; padding: 5px; margin-left: 10px;">
                            </a>
                        </div>
                        <div class="col-md-8 col-12">
                            <div class="card-body">
                                <a href="details/@product.ProductId" class="card-title truncate-text text-primary" style="font-size: 17px;">@product.Products.ProductName</a>
                                <p class="card-text text-secondary">Variation: @product.ProductVariations.VariationName</p>
                                @if (product.ProductVariations.quantity > 0)
                                {
                                    <p class="card-text text-secondary">Price: $@product.ProductVariations.price</p>
                                }
                                else
                                {
                                    <p class="card-text text-danger">Product isn't in stock</p>
                                }
                            </div>
                        </div>
                    </div>
                    <a href="Cart/deletefromcart/@product.Id" class="text-secondary" style="position: absolute; top: 10px; right: 10px;">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>

        }
    </div>
</div>
    <div class="container mt-3">
        <div class="d-flex justify-content-center">
            <div class="d-block justify-content-center">
                @if (Model.DeliveryPrice != 0)
                {
                    <h3 class="text-secondary me-2 text-center">Total:</h3>
                    <h3 class="text-secondary text-center" id="totalAmount">$@(Model.Carts.Where(p => p.ProductVariations.quantity > 0).Sum(product => product.ProductVariations.price) + avalible * Model.DeliveryPrice)</h3>
                    <p class="text-secondary text-center">Delivery price: $@(Model.DeliveryPrice * avalible)</p>
                    <a class="btn btn-success ms-2 text-center mt-1" href="/placeOrder" onclick="getDeliveryData(updateTotalAmount)">
                        Confirm Order <i class="fas fa-check"></i>
                    </a>
                }
                else
                {
                    <div class="alert">
                        <i class="fas fa-info-circle"></i>
                        <a href="/userdata" class="text-center text-white" id="totalAmount"> Please fill out your shipping information to place your order.</a>
                    </div>

                }
            </div>
        </div>
    </div>
}
else
{
    <div class="container" style="margin-top: 200px; padding-bottom: 200px;">
        <div class="text-center">
            <h1 class="display-1 fw-bold" style="color: #7480be">Your cart is emty.</h1>
            <span class="fs-3"> <span class="text-danger fw-bold">Shop now</span>
            <p class="lead">
            </p>
            <a href="/products?page=1" class="btn btn-primary mt-2"><i class="fab fa-shopify"></i> Product</a>
        </div>
    </div>
}