@{
    ViewData["Title"] = "Cart";
}
@model List<Cart>

<div class="container mt-2">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-6 mb-3">
                <div class="card" style="max-width: 700px; position: relative;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <a href="details/@product.ProductId">
                            <img src="data:image/png;base64, @product.Products.ProductImages.FirstOrDefault()?.Data" class="card-img-top" alt="Product Image" style="object-fit: contain; height: 120px; width: 120px; padding: 5px; margin-left: 10px;">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title truncate-text">@product.Products.ProductName</h5>
                                <p class="card-text">Variation: @product.ProductVariations.VariationName</p>
                                @if(product.ProductVariations.quantity > 0)
                                {
                                    <p class="card-text text-success">Price: $@product.ProductVariations.price</p>
                                }
                                else
                                {
                                    <p class="card-text text-danger">Product isn't in stock</p>
                                }
                            </div>
                        </div>
                    </div>
                    <a href="Cart/deletefromcart/@product.Id" class="text-secondary" style="position: absolute; top: 10px; right: 10px;">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 d-flex">
            <h3 class="fw-bold text-secondary">Total: </h3>
            <h3 class="fw-bold text-success ms-2">$@Model.Where(p => p.ProductVariations.quantity > 0).Sum(product => product.ProductVariations.price)</h3>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <a class="btn btn-success ms-2">
                Confirm Order <i class="fas fa-check"></i>
            </a>
        </div>
    </div>
</div>
