@{
    ViewBag.Title = "Admin dashboard";
}
<div class="container mt-5">
    <div class="row">
        <div class="row">
            <div class="col-md-4 mb-4">
                <a href="/admin/managesupport">
                <div class="card shadow" style="border-left: 0.25rem solid #4e73df!important;">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title fw-bold" style="color: #4e73df">Support requests</h5>
                        <i class="fas fa-life-ring fa-3x" style="color: #4e73df"></i>
                    </div>
                </div>
                </a>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card shadow" style="border-left: 0.25rem solid #1cc88a!important;">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title fw-bold" style="color: #1cc88a;">Product administration</h5>
                        <i class="fas fa-cogs fa-3x" style="color: #1cc88a;"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card shadow" style="border-left: 0.25rem solid #f6c23e!important;">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <h5 class="card-title fw-bold" style="color: #f6c23e;">Sellers requests</h5>
                        <i class="fas fa-handshake fa-3x" style="color: #f6c23e;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
