@inject UserManager<IdentityUser> userManager
@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopWave</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;600;700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopWave.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loader.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="/img/ShopWaveIco.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    <header>
        <svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
    <defs>
        <symbol viewBox="0 0 60 60" id="icon-facebook">
            <path d="M25.8 46.3h6.7V30H37l.6-5.6h-5.1v-2.8c0-1.5.1-2.3 2.2-2.3h2.8v-5.6H33c-5.4 0-7.3 2.7-7.3 7.3v3.4h-3.4V30h3.4v16.3zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30z"/>
        </symbol>
        <symbol viewBox="0 0 60 60" id="icon-linkedin">
            <path d="M46.8 44.1V32.4c0-6.3-3.3-9.2-7.8-9.2-3.6 0-5.2 2-6.1 3.4v-2.9h-6.8c.1 1.9 0 20.4 0 20.4h6.8V32.7c0-.6 0-1.2.2-1.7.5-1.2 1.6-2.5 3.5-2.5 2.5 0 3.4 1.9 3.4 4.6V44l6.8.1zM19 20.9c2.4 0 3.8-1.6 3.8-3.5 0-2-1.5-3.5-3.8-3.5s-3.8 1.5-3.8 3.5 1.4 3.5 3.8 3.5zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30zm-7.6-15.9V23.7h-6.8v20.4h6.8z"/>
        </symbol>
        <symbol viewBox="0 0 60 60" id="icon-twitter">
              <path d="M34.2 18.3c-2.6 1-4.3 3.4-4.1 6.1l.1 1-1-.1c-3.8-.5-7.1-2.1-10-4.9L17.7 19l-.4 1c-.8 2.3-.3 4.7 1.3 6.3.8.9.6 1-.8.5-.5-.2-.9-.3-1-.2-.1.1.4 2.1.8 2.8.5 1.1 1.7 2.1 2.9 2.7l1 .5h-1.2c-1.2 0-1.2 0-1.1.5.4 1.4 2.1 2.8 3.9 3.5l1.3.4-1.1.7c-1.7 1-3.6 1.5-5.6 1.6-.9 0-1.7.1-1.7.2 0 .2 2.6 1.4 4 1.9 4.5 1.4 9.8.8 13.7-1.6 2.8-1.7 5.7-5 7-8.2.7-1.7 1.4-4.9 1.4-6.4 0-1 .1-1.1 1.2-2.3.7-.7 1.3-1.4 1.5-1.6.2-.4.2-.4-.9 0-1.8.6-2 .6-1.2-.4.6-.7 1.4-1.9 1.4-2.3 0-.1-.3 0-.7.2-.4.2-1.2.5-1.8.7l-1.1.4-1-.7c-.6-.4-1.4-.8-1.8-.9-.9-.4-2.6-.4-3.5 0zM30 60C13.4 60 0 46.6 0 30S13.4 0 30 0s30 13.4 30 30-13.4 30-30 30z"/>
        </symbol>
    </defs>
</svg>

<div class="hero">
    <header id="masthead" role="banner">
                <div class="container">
                    <div id="top-icons">
                        <button class="top-icon" id="menu-button">
                            <span class="hamburger hamburger--boring">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                            <span class="hamburger-label">Menu</span>
                        </button>
                        <a href="/profile" class="top-icon text-white">
                            @if(User.Identity.IsAuthenticated){
                                string? userId;
                                try
                                {
                                    var user = await userManager.GetUserAsync(User);
                                    userId = user.Id;
                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                    <script>
                                        function loadAvatar() {
                                            var userId = "@userId";

                                            $.ajax({
                                                url: "/Home/GetAvatar?userId=" + userId,
                                                type: "GET",
                                                dataType: "text",
                                                success: function (avatarBase64) {
                                                    var imgElement = document.getElementById("user-avatar");
                                                    if (avatarBase64) {
                                                        imgElement.src = "data:image/png;base64, " + avatarBase64;
                                                    } else {
                                                        // Используйте изображение по умолчанию
                                                        imgElement.src = "/img/userIcon.png";
                                                    }
                                                },
                                                error: function () {
                                                    // Обработка ошибки
                                                }
                                            });
                                        }

                                        loadAvatar();
                                    </script>
                                    <img class="avatar" id="user-avatar"/>
                                }
                                catch
                                {
                                    <img class="avatar" src="/img/userIcon.png">
                                }
                            }
                            else
                            {
                                <img class="avatar" src="/img/userIcon.png">
                            }


                            <span style="margin-left: 10px;">Account</span>
                        </a>



                    </div>

        <nav id="site-nav" role="navigation">
          <div class="col">
            <h4>Main</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">Catalog</a></li>
              <li><a href="/products">Products</a></li>
            </ul>            
          </div>
          <div class="col">
            <h4>For sellers</h4>
            <ul>
              <li><a href="#">How to become a seller</a></li>
              <li><a href="#">How to add new product</a></li>
              <li><a href="#">Products administations</a></li>
            </ul> 
          </div>
          <div class="col">
            <h4>Company</h4>
            <ul>
              <li><a href="#">Abot us</a></li>
              <li><a href="#">Creator info</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>             
          </div>
          <div class="col">
            <h4>Account</h4>
            <ul>
              <li><a href="#">Profile</a></li>
              <li><a href="/mycart">My card</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="menu-item"><a style="color: gray;" asp-area="" asp-controller="Authorize" asp-action="logout">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="login">Login</a></li>
                                }
            </ul>               
          </div>
          <div class="col">
            <ul class="social mt-3">
              <li>
               <a href="https://github.com/DARK6870">
               <i class="fab fa-github fa-2x"></i>
               </a>
               </li>
              <li>
               <a href="https://t.me/DarkFlandy">
               <i class="fab fa-telegram fa-2x"></i>
               </a>
               </li>
               <li>
               <a href="https://www.linkedin.com/in/vlad-tsymbal-511769296/">
               <i class="fab fa-linkedin fa-2x"></i>
               </a>
               </li>
            </ul>
          </div>
      </nav>
    </div>
  </header>
</div>
    </header>
    <div class="main-container" style="margin-left: 0; margin-right: 0;">
        <main role="main" class="mb-5">
            <div class="loader">
                <span class="loader-inner"></span>
            </div>
            @RenderBody()
        </main>
    </div>
    <footer class="footer position-relative" style="line-height: 30px; background-color: #2d3147;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mt-3 mb-3">
                    <a href="/" class="footer-logo title" style="color: #1E90FF;">ShopWave</a>
                    <p class="t mt-2 mb-1">E-commerce open-source web site</p>
                    <img height="90" class="mt-2" src="/img/ShopWaveIco.png"/>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <h4 class="mb-2">Contact Us</h4>
                    <p class="t"><i class="t fas fa-envelope"></i> Email: admin@ShopWave.com</p>
                    <p class="t"><i class="t fas fa-envelope"></i> Email: support@ShopWave.com</p>
                    <p class="t"><i class="t fas fa-phone"></i> Phone: +1 (123) 456-7890</p>
                </div>
                <div class="col-md-4 mt-3 mb-3">
                    <h4>Quick Links</h4>
                    <ul class="footer-links">
                        <li><a class="l" href="/">Home</a></li>
                        <li><a class="l" href="/profile">Profile</a></li>
                        <li><a class="l" href="/login">Sign In</a></li>
                        <li><a class="l" href="/card">Card</a></li>
                        <li><a class="l" href="/about">About Us</a></li>
                        <li><a class="l" href="/support">Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/loader.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
