@using Microsoft.AspNetCore.Identity;
@model IdentityUser
@{
    ViewData["Title"] = "Profile";
}
<style>
    .img-account-profile
    {
        height: 150px;
        width: 150px;
        object-fit: cover;
    }

</style>
<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    @if (User.Identity.IsAuthenticated)
                    {
                            <script>
                                function load() {
                                    var userId = "@Model.Id";

                                    $.ajax({
                                        url: "/Home/GetAvatar?userId=" + userId,
                                        type: "GET",
                                        dataType: "text",
                                        success: function (avatarBase64) {
                                            var imgElement = document.getElementById("avatar");
                                            if (avatarBase64) {
                                                imgElement.src = "data:image/png;base64, " + avatarBase64;
                                            } else {

                                                imgElement.src = "/img/userIcon.png";
                                            }
                                        },
                                        error: function () {
                                            
                                        }
                                    });
                                }

                                load();
                            </script>
                            <img class="img-account-profile rounded-circle mb-2" id="avatar" />
                    }
                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                    <a href="/avatar" class="btn btn-primary" type="button">Upload new image</a>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header">UserName</div>
                <div class="card-body">
                    <form method="post" action="/changeUsername" id="usernameForm">
                        <div class="mb-3">
                            <label class="small mb-1 text-secondary" for="inputUsername"><i class="fas fa-user"></i> Username</label>
                            <input required minlength="4" maxlength="15" class="form-control" id="inputUsername" type="text" name="username" placeholder="Enter your username" value="@Model.UserName">
                            <span id="usernameError" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="mb-1 text-secondary fw-bold">Email address: @Model.Email</label>
                        </div>
                        <button class="btn btn-primary" type="button" id="saveButton">Save changes</button>
                    </form>

                    <script>
                        document.getElementById("saveButton").addEventListener("click", function () {
                            const inputUsername = document.getElementById("inputUsername");
                            const usernameError = document.getElementById("usernameError");
    
                            usernameError.innerHTML = "";

                            if (!inputUsername.checkValidity()) {
                                usernameError.innerHTML = "Username must have 4 to 15 characters.";
                            } else {
                                Swal.fire({
                                    title: 'Are you sure?',
                                    text: 'Do you want to save the changes?',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    confirmButtonText: 'Yes, save it!',
                                    cancelButtonText: 'No, cancel',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        document.getElementById("usernameForm").submit();
                                    }
                                });
                            }
                        });
                    </script>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <i class="fas fa-shopping-cart fa-3x mb-3 text-secondary"></i>
                            <h5 class="card-title"></h5>
                            <a href="/mycart" class="btn btn-primary">My cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <i class="fas fa-clipboard-list fa-3x mb-3 text-secondary"></i>
                            <h5 class="card-title"></h5>
                            <a href="/myorders" class="btn btn-primary">My orders</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <i class="fas fa-truck fa-3x mb-3 text-secondary"></i>
                            <h5 class="card-title"></h5>
                            <a href="/userdata" class="btn btn-primary">Delivery data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (TempData["Success"] != null && (bool)TempData["Success"])
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Success!',
            showConfirmButton: true,
        });
    </script>
}
else if (TempData["Error"] != null && (bool)TempData["Error"])
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Something went wrong',
            showConfirmButton: true
        });
    </script>
}
@if (TempData["Message"] != null)
{
    <text>
        <script>
            var message = '@TempData["Message"]';
            Swal.fire({
                icon: 'info',
                title: 'Info message',
                text: message,
                showConfirmButton: true
            });
        </script>
    </text>
}

