@{
    ViewBag.Title = "How to become a seller";
}

<style>
    body {
        background-color: #f8f9fa;
        color: #495057;
        font-family: 'Arial', sans-serif;
    }

    .container {
        max-width: 800px;
        margin: auto;
    }

    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    ol, ul {
        list-style-position: inside;
    }
</style>

<div class="container mt-5">
    <h1 class="text-center text-primary fw-bold">How to Become a Seller</h1>
    <p class="text-center px-4">To get started, log in to your account and fill in the necessary information.</p>

    <div class="text-center mt-3">
        <img style="border-radius: 10px!important;" src="/img/Screenshot_82.png" alt="Form Screenshot" class="img-fluid">
    </div>

    <p class="text-center mt-3 px-lg-5">Steps:</p>
    <ol class="px-lg-5">
        <li>Log in to your account.</li>
        <li>Go to the <a href="/sellerdata">Open seller form</a> link.</li>
        <li>Fill in your personal information, including a photo of your passport.</li>
        <li>Wait for a response within 3 days.</li>
    </ol>

    <p class="text-center mt-4 px-4">Additional Information:</p>
    <p class="px-4">To expedite the review process, ensure that the provided data is accurate and up-to-date.</p>

    <p class="text-center mt-4 px-4">Reasons for Rejection May Include:</p>
    <ul class="px-4">
        <li>Incorrect or incomplete personal information.</li>
        <li>Failure to meet security requirements.</li>
        <li>Duplicate accounts.</li>
    </ul>

    <p class="text-center mt-4 px-4">After successful registration, a new menu item - Seller Panel - will appear.</p>
</div>
